* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.about-me,
.projects,
.resume,
.contact-me {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about-me {
  /* background-image: url('/images/img-2.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(90deg, rgb(14, 66, 83) 0%, rgb(0, 0, 0) 100%);
  color: rgb(0, 0, 0);
  font-size: 100px;
}

.projects {
  /* background-image: url('/images/img-1.jpg'); */
  background-position: auto;
  background-size: fill;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(14, 66, 83) 0%, rgb(0, 0, 0) 100%);
  font-size: 100px;
}

.contact-me {
  /* background-image: url('/images/img-8.jpg'); */
  background: linear-gradient(90deg, rgb(14, 66, 83) 0%, rgb(0, 0, 0) 100%);
  background-position: auto;
  background-size: 100%;
  background-repeat: repeat;
  color: rgb(0, 0, 0);
  font-size: 100px;
}
.contact-me .contact-title {
  position: auto;
  font-size: 100px;
  color: white;
  padding: 0%;
}
.contact-me .contact-forum {
  position: auto;
  padding: 2%;
  color: white;
  position: auto;
  font-size: 50px;
}
.contact-me .contact-forum .contact-name{
  padding: 8px 20px;
  border-radius: 2px;
  margin-right: 10px;
  margin-top: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px transparent;
  width: 500px;
  height: 50px;
}
.contact-me .contact-forum .contact-email{
  padding: 8px 20px;
  border-radius: 2px;
  margin-right: 10px;
  margin-top: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px transparent;
  width: 500px;
  height: 50px;
}
.contact-me .contact-forum .contact-message{
  padding: 8px 20px;
  border-radius: 2px;
  margin-top: 10px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px transparent;
  height: 200px;
  width: 500px;
}

.contact-me .contact-forum .contact-btn .btn{
  background-color: transparent;
  margin-top: 30px;
  color: #fff;
  padding: 10px 40px;
  border: 1px solid ;
  transition: all 0.3s ease-out;
  font-size: 26px;
}
.contact-me .contact-forum .contact-btn .btn:hover{
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}
.resume {
  padding: 0pm;
  background-position: center;
  background-size: fill;
  background-repeat: repeat;
  background: linear-gradient(100deg, rgb(62, 65, 66) 0%, rgb(0, 0, 0) 100%);
  height: max-content;
}
